{% extends "admin/layout/layout.twig" %}

{% block title %}Навигация{% endblock %}

{% block page_title %}Навигация{% endblock %}

{% block icons %}
    <a href="{{ path_for('navigation.showAdminNavigationAdd') }}" class="btn btn-link btn-float text-default">
        <i class="icon-file-plus text-primary" style="font-size: 1.4rem"></i>
        <span>Создать навигацию</span>
    </a>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-4">
                <div class="list-group">
                    {% for menu in menu_list %}
                    <a href="{{ path_for('navigation.showAdminNavigationEdit', {'id':menu.id}) }}" class="list-group-item list-group-item-action">{{ menu.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}