{% extends "admin/layout/layout.twig" %}

{% block title %}Модули{% endblock %}

{% block links %}
    <link href="/assets/admin/libs/bootstrap-toogle/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block page_title %}Модули{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-5">
            <div class="list-group" style="position: relative;">
                {% for module in modules %}
                    <a class="list-group-item list-group-item-action  js-module"
                       style=" display: flex; justify-content: space-between; align-items: center;cursor: pointer"
                       data-convention="{{ module.convention }}">
                        {{ module.title }}
                        <div style="display: inline-block;">
                            {% if module.id %}
                                <input type="checkbox" class="js-switch-module" id="{{ module.id }}"
                                       data-status="{{ module.status }}" {% if module.status == 1 %}checked{% endif %}
                                       data-toggle="toggle">
                            {% else %}
                                <button class="btn btn-success js-add-module" data-path="{{ module.path }}">+ добавить
                                </button>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-7">
            <div class="card js-description">
                <h4 class="card-header module-name"></h4>
                <div class="card-body">
                    <h6 class="card-title"><span class="version"></span> &nbsp;&nbsp;<a class="module-uri" href=""></a></h6>
                    <p class="card-text description"></p>
                    <p class="card-text">
                        <span class="author"></span> <span class="author-email"></span>
                    </p>
                    <p>
                        <span class="license"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="/assets/admin/libs/bootstrap-toogle/bootstrap-toggle.min.js"></script>

    <script>

        $('.js-switch-module').change(function () {
            var status = $(this).data('status');
            var id = $(this).prop('id');
            $.ajax({
                url: '{{ path_for('module.switchModule') }}',
                type: 'POST',
                data: {'id': id, 'status': status}
            })
        });

        $('.js-add-module').click(function () {
            var path = $(this).data('path');
            $.ajax({
                url: '{{ path_for('module.addModule') }}',
                type: 'POST',
                data: {'path': path},
                success: function (resp) {
                    location.reload();
                }
            })
        });

        $('.js-description').hide();

        $('.js-module').click(function (e) {
            if ($(e.target).is('a')) {
                var convention = $(this).data('convention');

                $('.module-name').text(convention.ModuleName);
                $('.version').text('version: ' + convention.Version);
                $('.module-uri').text(convention.ModuleURI);
                $('.module-uri').prop('href', 'http://' + convention.ModuleURI);
                $('.description').text(convention.Description);
                $('.author').text(convention.Author);
                $('.author-email').text(convention.AuthorURI);
                $('.license').text(convention.License);

                $('.js-description').show();
            }

        })

    </script>
{% endblock %}