{% extends "admin/layout/layout.twig" %}

{% block title %}Навигация{% endblock %}

{% block page_title %}Навигация{% endblock %}

{% block icons %}
    <a href="{{ path_for('navigation.showAdminNavigationItemList', {'id': menu.id}) }}" class="btn btn-link btn-float text-default">
        <i class="icon-insert-template text-primary" style="font-size: 1.4rem"></i>
        <span>Список пунктов</span>
    </a>

{% endblock %}

{% block content %}
    <style type="text/css">
        ul li {
            list-style: none;
        }

        ul {
            padding-left: 20px;
            padding-bottom: 7px;
        }

        .noselect {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently
                                             supported by Chrome and Opera */
        }
        .glyph {
            display: inline-block;
            width: 64px;
            height: 64px;
            padding: 16px;
            background-color: #e1e1e1;
        }

    </style>

            <div class="row">
                <div class="col-md-12">

                    <div class="row">
                        {% for message in messages %}
                            <div class="col-md-10">
                                <div class="form-group">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>{{ message[0] }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>


                    <form action="{% if item %}{{ path_for('navigation.updateNavigationItem', {'id': menu.id, 'item_id':item.id}) }}{% else %}{{ path_for('navigation.createNavigationItem', {'id': menu.id}) }}{% endif %}" method="post">

                        <div class="row">

                            <div class="col-md-4">
                                <div class="row">
                                    <h2 class="col-md-12">Пункт меню</h2>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="Название" class="form-control" name="item[title]" value="{{ item.title }}" required>
                                    </div>

                                    <div class="col-md-12">
                                        <input type="text" placeholder="Путь" class="form-control" name="item[path]" value="{{ item.path }}" required>
                                    </div>

                                    <div class="col-md-12 mt-1 text-right">
                                        <div class="glyph">
                                            <i id="icon-preview" class="{{ item.icon }} icon-2x"></i>
                                        </div>
                                        <select class="selectpicker" name="item[icon]" id="select-icon" data-live-search="true">
                                            <option value=""></option>
                                            {% include '/admin/navigation/items/icon-option.twig' %}
                                        </select>
                                    </div>

                                    <div class="col-md-12 mt-2">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <button id="save_item" type="submit" class="btn btn-success">Сохранить</button>
                                            </div>
                                            <div class="col-md-4">
                                                {% if item.id %}
                                                    <a href="{{ path_for('navigation.deleteNavigationItem', {'id': menu.id, 'item_id': item.id }) }}"
                                                       id="delete_item" class="btn btn-danger">Удалить</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">

                                <div class="row">

                                    <h2 class="col-12">Права доступа</h2>

                                    <div class="col-md-4">
                                        <ul class="permission">
                                            <li>Пользователи</li>
                                            <li>
                                                <ul>
                                                    <li>
                                                        <input type="hidden" name="user_view" value="false">
                                                        <input id="user_view" type="checkbox" name="user_view"
                                                               value="true">
                                                        <label class="noselect" for="user_view">Просмотр</label>
                                                    </li>
                                                    <li>
                                                        <input type="hidden" name="user_create" value="false">
                                                        <input id="user_create" type="checkbox" name="user_create"
                                                               value="true">
                                                        <label class="noselect" for="user_create">Создание</label>
                                                    </li>
                                                    <li>
                                                        <input type="hidden" name="user_update" value="false">
                                                        <input id="user_update" type="checkbox" name="user_update"
                                                               value="true">
                                                        <label class="noselect" for="user_update">Обновление</label>
                                                    </li>
                                                    <li>
                                                        <input type="hidden" name="user_delete" value="false">
                                                        <input id="user_delete" type="checkbox" name="user_delete"
                                                               value="true">
                                                        <label class="noselect" for="user_delete">Удаление</label>
                                                    </li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </div>

                                    <div class="col-md-4">
                                        <ul class="permission">
                                            <li>Права</li>
                                            <li>
                                                <ul>
                                                    <li>
                                                        <input type="hidden" name="roles_view" value="false">
                                                        <input id="roles_view" type="checkbox" name="roles_view"
                                                               value="true">
                                                        <label class="noselect"
                                                               for="roles_view">Просмотр/Изменение</label>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-md-4">
                                        <ul class="permission">
                                            <li>Модули</li>
                                            <li>
                                                <ul>
                                                    <li>
                                                        <input type="hidden" name="modules_view" value="false">
                                                        <input id="modules_view" type="checkbox" name="modules_view"
                                                               value="true">
                                                        <label class="noselect" for="modules_view">Просмотр</label>
                                                    </li>
                                                    <li>
                                                        <input type="hidden" name="modules_create" value="false">
                                                        <input id="modules_create" type="checkbox" name="modules_create"
                                                               value="true">
                                                        <label class="noselect" for="modules_create">Создание</label>
                                                    </li>
                                                    <li>
                                                        <input type="hidden" name="modules_update" value="false">
                                                        <input id="modules_update" type="checkbox" name="modules_update"
                                                               value="true">
                                                        <label class="noselect" for="modules_update">Обновление</label>
                                                    </li>
                                                    <li>
                                                        <input type="hidden" name="modules_delete" value="false">
                                                        <input id="modules_delete" type="checkbox" name="modules_delete"
                                                               value="true">
                                                        <label class="noselect" for="modules_delete">Удаление</label>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-md-4">
                                        <ul class="permission">
                                            <li>Навигация</li>
                                            <li>
                                                <ul>
                                                    <li>
                                                        <input type="hidden" name="navigation_view" value="false">
                                                        <input id="navigation_view" type="checkbox"
                                                               name="navigation_view"
                                                               value="true">
                                                        <label class="noselect" for="navigation_view">Просмотр</label>
                                                    </li>
                                                    <li>
                                                        <input type="hidden" name="navigation_create" value="false">
                                                        <input id="navigation_create" type="checkbox"
                                                               name="navigation_create"
                                                               value="true">
                                                        <label class="noselect" for="navigation_create">Создание</label>
                                                    </li>
                                                    <li>
                                                        <input type="hidden" name="navigation_update" value="false">
                                                        <input id="navigation_update" type="checkbox"
                                                               name="navigation_update"
                                                               value="true">
                                                        <label class="noselect"
                                                               for="navigation_update">Обновление</label>
                                                    </li>
                                                    <li>
                                                        <input type="hidden" name="navigation_delete" value="false">
                                                        <input id="navigation_delete" type="checkbox"
                                                               name="navigation_delete"
                                                               value="true">
                                                        <label class="noselect" for="navigation_delete">Удаление</label>
                                                    </li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
{% endblock %}

{% block script %}

    <script type="text/javascript">
        {% if item %}
        $(function () {
            var id = {{ item.id }}
                $.ajax({
                    url: '{{ path_for('navigation.getItemPermissions') }}',
                    type: 'POST',
                    data: {id: id, menu_id: {{ menu.id }}},
                    success: function (resp) {
                        var item = JSON.parse(resp);
                        var permissions = JSON.parse(item.permissions);
                        $('input[name="id"]').val(item.id);

                        if (permissions) {
                            $.each($('.permission li ul li input[type="checkbox"]'), function () {
                                var name = $(this).attr('name');
                                if (permissions[name] === "true") {
                                    $(this).prop('checked', true);
                                } else {
                                    $(this).prop('checked', false);
                                }
                            });
                        } else {
                            $('.permission input[type="checkbox"]').prop('checked', false);
                        }
                    },
                    error: function (resp) {
                        console.log(resp.responseText);
                    }
                })
        });
        {% endif %}

        $('#select-icon').on('change', function (e) {
            $('#icon-preview').removeAttr('class');
            $('#icon-preview').attr('class', $(e.target).val()+' icon-2x')
        })
        
    </script>
{% endblock %}