<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Slim-Skeleton{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/assets/admin/css/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/admin/libs/bootstrap/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/admin/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/admin/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/admin/css/colors.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/admin/libs/bootstrap-select/css/bootstrap-select.css">

    {% block links %}{% endblock %}

</head>

<body>

<!-- Main navbar -->
<div class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-brand" style="padding: 0;padding-top: 3px">
        <a href="/" class="d-inline-block" style="width: 100%">
            <img src="/assets/admin/imgs/test10.png" alt="" style="width: 70%; height: 100%">
        </a>
    </div>

    <div class="d-md-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
        </button>
        <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
            <i class="icon-paragraph-justify3"></i>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="index.html#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
        </ul>

        <span class="badge bg-success ml-md-3 mr-md-auto" style="opacity: 0">Online</span>

        <ul class="navbar-nav">

            <li class="nav-item dropdown dropdown-user">
                <a  class="navbar-nav-link d-flex align-items-center dropdown-toggle"
                   data-toggle="dropdown">
                    <img src="{% if session.user.photo %}{{ session.user.photo.path }}{% else %}/assets/admin/imgs/no_avatar.jpg{% endif %}" class="rounded-circle mr-2" height="34" alt="">
                    <span>{{ session.user.first_name }}</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a href="index.html#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
                    <a href="index.html#" class="dropdown-item"><i class="icon-coins"></i> My balance</a>
                    <a href="index.html#" class="dropdown-item">
                        <i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="index.html#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
                    <a href="{{ path_for('user.doLogout') }}" class="dropdown-item"><i class="icon-switch2"></i>Выход</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->


<!-- Page content -->
<div class="page-content">

    <!-- Main sidebar -->
    <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

        <!-- Sidebar mobile toggler -->
        <div class="sidebar-mobile-toggler text-center">
            <a href="index.html#" class="sidebar-mobile-main-toggle">
                <i class="icon-arrow-left8"></i>
            </a>
            Navigation
            <a href="index.html#" class="sidebar-mobile-expand">
                <i class="icon-screen-full"></i>
                <i class="icon-screen-normal"></i>
            </a>
        </div>
        <!-- /sidebar mobile toggler -->

        <!-- Sidebar content -->
        <div class="sidebar-content">

            <!-- User menu -->
            <div class="sidebar-user">
                <div class="card-body">
                    <div class="media">
                        <div class="mr-3">
                            <a href="index.html#">
                                <img src="{% if session.user.photo %}{{ session.user.photo.path }}{% else %}/assets/admin/imgs/no_avatar.jpg{% endif %}" width="38" height="38" class="rounded-circle" alt="">
                            </a>
                        </div>

                        <div class="media-body">
                            <div class="media-title font-weight-semibold">{{ session.user.first_name }} {{ session.user.last_name }}</div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <a href="index.html#" class="text-white"><i class="icon-cog3"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /user menu -->

            <!-- Main navigation -->
            <div class="card card-sidebar-mobile">
                <ul class="nav nav-sidebar" data-nav-type="accordion">

                    {% for item in getNavigation(1) %}
                        <li class="nav-item">
                            <a href="{{ path_for(item.path) }}" class="nav-link {{ item.class }}">
                                <i class="{{ item.icon }}"></i><span>{{ item.title }}</span>
                            </a>

                            {% if item.children %}
                                <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                    <li class="nav-item">
                                        <a href="{{ path_for(item.path) }}"
                                           class="nav-link {{ item.class }}"><span>{{ item.title }}</span></a>
                                    </li>
                                    {% for sub_item in item.children %}
                                        <li class="nav-item">
                                            <a href="{{ path_for(sub_item.path) }}"
                                               class="nav-link {{ sub_item.class }}"><span>{{ sub_item.title }}</span></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /main navigation -->

        </div>
        <!-- /sidebar content -->

    </div>
    <!-- /main sidebar -->

    <!-- Main content -->
    <div class="content-wrapper">

        <div class="page-header page-header-light">
            <div class="page-header-content header-elements-md-inline" style="height: 73px">
                <div class="page-title d-flex pt-0 pb-0">
                    <div>
                        <span class="font-weight-semibold" style="font-size: 1.5em">{% block page_title %}{% endblock %}</span>
                    </div>
                </div>

                <div class="header-elements d-none">
                    <div class="d-flex justify-content-center">
                        {% block icons %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Content area -->
        <div class="content mt-0 pt-1">

            {% block content %}

            {% endblock %}

        </div>
        <!-- /content area -->


        <!-- Footer -->
        <div class="navbar navbar-expand-lg navbar-light">
            <div class="text-center d-lg-none w-100">
                <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse"
                        data-target="#navbar-footer">
                    <i class="icon-unfold mr-2"></i>
                    Footer
                </button>
            </div>

            <div class="navbar-collapse collapse" id="navbar-footer">
                <span class="navbar-text">
                </span>
            </div>
        </div>
        <!-- /footer -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->
<!--Jquery JS-->
<script src="/assets/admin/libs/jQuery/jquery-3.3.1.js"></script>

<!--Popper JS-->
<script src="/assets/admin/libs/popper/popper.js"></script>

<!--Vue JS-->
<script src="/assets/admin/libs/vue/vue.js"></script>

<!-- Bootstrap Bundle JS -->
<script src="/assets/admin/libs/bootstrap/js/bootstrap.bundle.js"></script>
<!-- Block UI -->
<script src="/assets/admin/libs/blockui/blockui.min.js"></script>

<!-- Switchery MIN JS -->
<script src="/assets/admin/libs/jQuery/plugins/switchery.min.js"></script>

<!-- Moment.js -->
<script src="/assets/admin/libs/moment/moment.min.js"></script>

<!-- jQuery Nestable JS-->
<script src="/assets/admin/libs/jQuery/plugins/jquery.nestable.js"></script>

<!-- jQuery Mask MIN JS -->
<script src="/assets/admin/libs/jQuery/plugins/jquery.mask.min.js"></script>

<!-- jQuery cookie -->
<script src="/assets/admin/libs/jQuery/plugins/jquery.cookie.js"></script>
<!--Flatpickr JS-->
<script src="/assets/admin/libs/flatpickr/flatpickr.js"></script>
<script src="/assets/admin/libs/flatpickr/flatpickr-ru.js"></script>

<script src="/assets/admin/libs/bootstrap-select/js/bootstrap-select.js"></script>

<script src="/assets/admin/libs/dropzone.min.js"></script>

<script src="/assets/admin/js/app.js"></script>
{% block script %}
{% endblock %}
</body>
</html>