<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap 4.1.3 CSS-->
    <link rel="stylesheet" href="/assets/admin/libs/bootstrap/css/bootstrap.css">

    <!--Custom CSS-->
    <link rel="stylesheet" href="/assets/admin/css/custom.css">

    <!-- Flatpickr MIN CSS -->
    <link rel="stylesheet" href="/assets/admin/libs/flatpickr/flatpickr.min.css">

    <!-- FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/admin/libs/bootstrap-select/css/bootstrap-select.css">

    {% block links %}

    {% endblock %}

</head>
<body>
<style>
    .active-link{
        background-color: rgba(72, 72, 85, .5);
    }
</style>
<aside><img id="sidebg" src="/assets/admin/wallpaper.jpg">
    <h4>SKELETON</h4>
    <hr>
    <div class="side-menu">
        {% set i = 0 %}
        {% for item in getNavigation(1) %}
            {% set last = false %}
            <a href="{{ path_for(item.path) }}" class="{{ item.class }}"> <i class="fas fa-angle-right " aria-hidden="true"></i> {{ item.title }}</a>

            {% if item.children %}
                {% for sub_item in item.children %}
                    <a style="margin-left: 30px" href="{{ path_for(sub_item.path) }}" class="{{ sub_item.class }}"> <i class="fa fa-file-text-o " aria-hidden="true"></i> {{ sub_item.title }}</a>
                {% endfor %}
            {% endif %}

            {% set i = i+1 %}

            {% if i == 2 %}
                {% set last = true %}
            {% endif %}

            {% if i == 3 %}
                <hr class="delimeter">
                {% set i = 0 %}
            {% endif %}
        {% endfor %}
        {% if last != false %}
            <hr class="delimeter">
        {% endif %}
        <a href="{{ path_for('user.doLogout') }}"> <i class="fas fa-angle-right" aria-hidden="true"></i> Выход </a>
    </div>
</aside>
<div class="main-page">
    {% block content %}

    {% endblock %}

</div>

<!--Jquery JS-->
<script src="/assets/admin/libs/jQuery/jquery-3.3.1.js"></script>

<!--Popper JS-->
<script src="/assets/admin/libs/popper/popper.js"></script>

<!--Vue JS-->
<script src="/assets/admin/libs/vue/vue.js"></script>

<!-- Bootstrap 4.1.3 JS -->
<script src="/assets/admin/libs/bootstrap/js/bootstrap.js"></script>

<!-- jQuery Nestable JS-->
<script src="/assets/admin/libs/jQuery/plugins/jquery.nestable.js"></script>

<!-- jQuery Mask MIN JS -->
<script src="/assets/admin/libs/jQuery/plugins/jquery.mask.min.js"></script>

<!--Flatpickr JS-->
<script src="/assets/admin/libs/flatpickr/flatpickr.js"></script>
<script src="/assets/admin/libs/flatpickr/flatpickr-ru.js"></script>

<script src="/assets/admin/libs/bootstrap-select/js/bootstrap-select.js"></script>
{% block script %}
{% endblock %}
</body>
</html>