{% extends '/admin/layout/layout.twig' %}
{% block content %}

    <div class="row">
        <div class="col-md-12 text-center" style="background-color: rgb(238, 238, 238); padding-top: 5vh; padding-bottom: 8vh">
            <h2>У Вас нет доступа к данному разделу</h2>
        </div>
    </div>

{% endblock %}