<!DOCTYPE html>
<html>
<head>
    <title>Skeleton</title>
</head>
<body>
    <a href="{{ path_for('user.showLoginPage') }}" style="position: absolute">Log in</a>
    <a href="{{ path_for('user.doLogout') }}" style="position: absolute; margin-left: 50px">Log out</a>

    <h1 align="center" style="margin-top: 3%">Congratulations!</h1>

    <form method="post" name="form" action="upload" style="position: absolute" enctype="multipart/form-data">
        <input type="file" name="file">
        <br><br>
        <input type="submit">
    </form>

    <h3 align="center">The Slim-Skeleton is ready to work!</h3>
    <img src="https://sun9-6.userapi.com/c635103/v635103712/2e595/_BfrSyMpLjk.jpg" alt="" style="margin-left: 28%; width: 44%; height: auto">
    <h2 align="center">Good luck</h2>

</body>
</html>